/*Configuración del tamaño de pantalla de html y body*/
html,body{
    color:white;
      font-family:'Roboto', sans-serif;  
      height:100%;
      width:100%;
      margin: 0px;
    }

.header-pages {
    display: flex;
    justify-content: space-evenly;
    background:#000000;
    position: absolute;
    width: 100%;
    align-items: center;
}
.logo {
    display: flex;
    width: 30%;
    margin-left: 15px;
}
.logo img {
    width: 35px;
    margin-right: 10px;
}
.logo h2 {
    font-family: 'Bitter', serif; ;
}

/*Estilos de la barra de navegación y los links dentro de esta*/
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0px;
    height: 50px;
    width: 80%;
}

nav a {
    margin-right: 25px;
}
a:link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: left;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    cursor: pointer;
}
/*Estilo igual a los de los elementos nav del link que permite acceder a la primera página*/
#linkStart{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: left;
}    

/*Configuración de imágenes para las pantallas de validación*/
figure { 
    align-items: left;
    width: 30%;
    height: auto;
    float: left;
}
img {
    margin-top: 0%;
    width: 600px;
    float: left;
}

/*Configuración general de los fondos de pantalla*/
.pageN{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
    background: url('./images/Desktop3.png') no-repeat fixed center;
}

/*Estilo general del contenido de las páginas de ingreso y validación de datos*/
.contentPageN {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 3%;
    margin-top: auto;
}
.contentPageN h2 {
    font-family: 'Bitter', serif;
    font-size: 40px;
}

#contentInicio {
    width: 60%;
}

/*Estilos al parrafo de descripción de la herramienta */
.info-text{
    font-size: 16px;
    font-style: italic;
}

/*Estilos a la parte del footer donde se da un anuncio sobre la seguridad de la herramienta*/
footer {
    text-align: center;
    color: rgb(107, 107, 107);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    position: absolute;
    width: 99.5%;
    bottom: 0px;
}

.content-page-validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.title-validate {
    line-height: 10px;
}
.title-validate h2 {
    font-size: 40px;
    font-family: 'Bitter', serif;
}
.title-validate p {
    font-size: 20px;
    font-style: italic;
}

/*Estilos de div con forma de tarjeta */
.card {
    min-width: 400px;
    width: 35%;
    height: 250px;
    max-width: 430px;
    background-color: #0B0C18;
    top: 30px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 8px 8px 8px #000000;
}

.images-card {
    display: flex;
    justify-content: space-between;
}

.img-lol {
    width: 120px;
    margin: 20px 0 0 25px;
}

.img-visa {
    width: 80px;
    height: 25px;
    margin: 20px 20px 0 0;
}

/*Estilos de input para ingresar los números de la tarjeta*/
input {
    font-family:'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: gray;
    margin: .4rem 0;
    width: 45%;
    max-width: 430px;
    height: 30px;
    margin-top: 30px;
    background-color: rgba(241, 241, 241, 0);
    border: none ;
    text-decoration: none;
}


/*Estilo general de los botones*/
.button {
    margin-top: 25px;
    padding: 4px;  
    font-family: 'Roboto', sans-serif; 
    font-weight: bolder;
    background: #0BC6E3;
    width: 16%;
    height: 35px;
    border: none;
}

.button:hover{
    cursor:pointer;
}  

#msj-validate {
    font-family: 'Bitter', serif;
    font-size: 25px;
    color: #D0A85C;
    margin: 0;
}

